<div class="modal fade" id="confirm-delete-modal" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5">{{ .UI.T.confirm_task_deletion_title }}</h1>
				<button
					type="button"
					class="btn-close"
					_="on click send confirmResult(answer: false) to #confirm-delete-modal"
				></button>
			</div>
			<div class="modal-body">{{ .UI.T.confirm_task_deletion_message }}</div>
			<div class="modal-footer">
				<button
					type="button"
					class="btn btn-danger rounded-pill px-4"
					_="on click send confirmResult(answer: true) to #confirm-delete-modal"
				>
					{{ .UI.T.delete }}
				</button>
				<button
					type="button"
					class="btn btn-secondary rounded-pill px-4"
					_="on click send confirmResult(answer: false) to #confirm-delete-modal"
				>
					{{ .UI.T.cancel }}
				</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="confirm-complete-modal" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5">{{ .UI.T.confirm_task_completion_title }}</h1>
				<button
					type="button"
					class="btn-close"
					_="on click send confirmResult(answer: false) to #confirm-complete-modal"
				></button>
			</div>
			<div class="modal-body">{{ .UI.T.confirm_task_completion_message }}</div>
			<div class="modal-footer">
				<button
					type="button"
					class="btn btn-primary rounded-pill px-4"
					_="on click send confirmResult(answer: true) to #confirm-complete-modal"
				>
					{{ .UI.T.complete }}
				</button>
				<button
					type="button"
					class="btn btn-secondary rounded-pill px-4"
					_="on click send confirmResult(answer: false) to #confirm-complete-modal"
				>
					{{ .UI.T.cancel }}
				</button>
			</div>
		</div>
	</div>
</div>
