{{ if .Tasks }}
	<div class="table-responsive">
		<table class="table">
			<thead>
				<tr>
					<th class="task-name">{{ .UI.T.task }}</th>
					<th>{{ .UI.T.attachments }}</th>
					<th>{{ .UI.T.expiration }}</th>
					<th>{{ .UI.T.created }}</th>
					<th>{{ .UI.T.completed }}</th>
				</tr>
			</thead>
			<tbody>
				{{ range .Tasks }}
					{{ template "completed_tasks_table_row.html" (dict "Task" . "UI" $.UI) }}
				{{ end }}
			</tbody>
		</table>
	</div>
{{ else }}
	<div class="fw-bold text-muted">{{ .UI.T.no_completed_tasks }}</div>
{{ end }}
