<nav class="navbar navbar-expand-lg border-bottom border-body">
	<div class="container-fluid">
		<a href="/ui" class="navbar-brand">
			<img
				src="/ui/static/android-chrome-192x192.png"
				alt="Logo"
				width="24"
				height="24"
				class="d-inline-block align-text-top"
			/>
			{{ .UI.T.tasks }}
		</a>
		<button
			class="navbar-toggler"
			type="button"
			data-bs-toggle="collapse"
			data-bs-target="#navbar-content"
			aria-controls="navbar-content"
			aria-expanded="false"
			aria-label="Toggle navigation"
		>
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbar-content">
			<ul class="navbar-nav mx-auto">
				<li class="nav-item">
					<a href="/ui" class="nav-link {{ if eq .UI.Title "Active" }}fw-bold active{{ end }}">
						{{ template "icon-stopwatch" }}
						{{ .UI.T.active_tasks }}
					</a>
				</li>
				<li class="nav-item">
					<a href="/ui/completed" class="nav-link {{ if eq .UI.Title "Completed" }}fw-bold active{{ end }}">
						{{ template "icon-clock-history" }}
						{{ .UI.T.completed_tasks }}
					</a>
				</li>
			</ul>
			<ul class="navbar-nav">
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						{{ template "icon-globe-americas" }}
						{{ .UI.Location.String | formattimezone }}
					</a>
					<ul class="dropdown-menu">
						{{ range .UI.Timezones }}
							<li>
								<form action="/ui/timezone" method="post">
									<input type="hidden" name="timezone" value="{{ . }}" />
									<button type="submit" class="dropdown-item {{ if eq . $.UI.Location.String }}active{{ end }}">
										{{ . | formattimezone }}
									</button>
								</form>
							</li>
						{{ end }}
					</ul>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						{{ template "icon-translate" }}
						{{ .UI.Language }}
					</a>
					<ul class="dropdown-menu">
						{{ range .UI.Languages }}
							<li>
								<form action="/ui/language" method="post">
									<input type="hidden" name="language" value="{{ . }}" />
									<button type="submit" class="dropdown-item {{ if eq . $.UI.Language }}active{{ end }}">
										{{ . }}
									</button>
								</form>
							</li>
						{{ end }}
					</ul>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						{{ template "icon-person-fill" }}
						{{ .UI.UserName }}
					</a>
					<ul class="dropdown-menu">
						<li>
							<form action="/ui/theme" method="post">
								{{ if eq .UI.Theme "light" }}
									<input type="hidden" name="theme" value="dark" />
									<button type="submit" class="dropdown-item">
										{{ template "icon-moon-fill" }}
										{{ .UI.T.dark_theme }}
									</button>
								{{ else }}
									<input type="hidden" name="theme" value="light" />
									<button type="submit" class="dropdown-item">
										{{ template "icon-sun-fill" }}
										{{ .UI.T.light_theme }}
									</button>
								{{ end }}
							</form>
						</li>
						<li><hr class="dropdown-divider" /></li>
						<li>
							<a href="/ui/auth/logout" class="dropdown-item">
								{{ template "icon-power" }}
								{{ .UI.T.sign_out }}
							</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</nav>
