<tr>
	<td>{{ .ID }}</td>
	<td>{{ .Name }}</td>
	<td>{{ with .ExpiresAt }}{{ FormatUIDisplayTime . }}{{ else }}{{ end }}</td>
	<td>{{ FormatUIDisplayTime .CreatedAt }}</td>
	<td>{{ with .UpdatedAt }}{{ FormatUIDisplayTime . }}{{ else }}{{ end }}</td>
	<td>{{ with .CompletedAt }}{{ FormatUIDisplayTime . }}{{ else }}{{ end }}</td>
	<td>
		<button
			class="btn btn-sm btn-outline-primary rounded-pill px-3"
			hx-get="/ui/tasks/{{ .ID }}/edit"
			hx-target="closest tr"
			hx-swap="outerHTML"
			hx-trigger="edit"
			_="on click
				send cancel to .editing
				trigger edit"
		>
			Edit
		</button>
		<button
			class="btn btn-sm btn-outline-danger rounded-pill px-3 ms-2"
			hx-delete="/ui/tasks/{{ .ID }}"
			hx-target="#tasks-table"
			hx-swap="innerHTML"
			hx-trigger="delete"
			_="on click
				app.showConfirmModal({
					title: 'Confirm Task Deletion',
					text: 'Are you sure you want to delete the selected task? This action cannot be undone.',
					confirmButtonText: 'Delete'
				})
				if the result's isConfirmed is false
					halt
				end
				trigger delete"
		>
			Delete
		</button>
	</td>
</tr>
