<tr>
	<td></td>
	<td><input class="form-control form-control-sm" name="name" value="" /></td>
	<td>
		<input class="form-control form-control-sm" type="datetime-local" name="expires_at" value="" />
	</td>
	<td></td>
	<td></td>
	<td></td>
	<td>
		<button
			class="btn btn-sm btn-outline-danger rounded-pill px-3"
			hx-get="/ui/tasks"
			hx-target="#tasks-table"
			hx-swap="innerHTML"
		>
			Cancel
		</button>
		<button
			class="btn btn-sm btn-outline-primary rounded-pill px-3 ms-2"
			hx-post="/ui/tasks"
			hx-include="closest tr"
			hx-target="#tasks-table"
			hx-swap="innerHTML"
		>
			Create
		</button>
	</td>
</tr>
