<tr>
	<td></td>
	<td><input type="text" name="name" form="task-new-form" class="form-control form-control-sm" value="" required /></td>
	<td>
		<input type="datetime-local" name="expires_at" form="task-new-form" class="form-control form-control-sm" value="" />
	</td>
	<td></td>
	<td></td>
	<td></td>
	<td>
		<button
			type="button"
			class="btn btn-sm btn-outline-danger rounded-pill px-3"
			hx-get="/ui/tasks"
			hx-target="#tasks-table"
			hx-swap="innerHTML"
		>
			Cancel
		</button>
		<button type="submit" form="task-new-form" class="btn btn-sm btn-outline-primary rounded-pill px-3 ms-2">
			Create
		</button>
	</td>
</tr>
