{{ define "active_tasks_table_row" }}
	<tr>
		<td class="text-break task-name" data-bs-toggle="tooltip" data-bs-title="{{ .Task.Name }}">
			<span class="app-text-multiline">{{ .Task.Name }}</span>
		</td>
		<td>
			{{ range .Task.Attachments }}
				<a href="/ui/tasks/{{ $.Task.ID }}/attachments/{{ .FileName }}" download class="d-block">{{ .FileName }}</a>
			{{ end }}
		</td>
		<td>{{ with .Task.ExpiresAt }}{{ . | formattime $.UI.Location }}{{ end }}</td>
		<td>{{ .Task.CreatedAt | formattime .UI.Location }}</td>
		<td>
			<button
				class="btn btn-sm btn-outline-primary rounded-pill px-3"
				hx-get="/ui/tasks/{{ .Task.ID }}/edit"
				hx-target="closest tr"
				hx-swap="outerHTML"
				hx-trigger="editTask"
				_="on click
					send cancelEdit to .editing
					trigger editTask"
			>
				Edit
			</button>
			<button
				class="btn btn-sm btn-outline-primary rounded-pill px-3 ms-2"
				hx-post="/ui/tasks/{{ .Task.ID }}/complete"
				hx-target="#tasks-table"
				hx-swap="innerHTML"
				hx-trigger="completeTask"
				_="on click
					app.showConfirmModal('#confirm-complete-modal')
					if result trigger completeTask"
			>
				Complete
			</button>
			<button
				class="btn btn-sm btn-outline-danger rounded-pill px-3 ms-2"
				hx-delete="/ui/tasks/{{ .Task.ID }}"
				hx-target="#tasks-table"
				hx-swap="innerHTML"
				hx-trigger="deleteTask"
				_="on click
					app.showConfirmModal('#confirm-delete-modal')
					if result trigger deleteTask"
			>
				Delete
			</button>
		</td>
	</tr>
{{ end }}
