{{ define "active_tasks_table" }}
	{{ if or .Tasks .IsCreatingNew }}
		{{ if .IsCreatingNew }}
			<form
				id="task-new-form"
				enctype="multipart/form-data"
				autocomplete="off"
				hx-post="/ui/tasks"
				hx-target="#tasks-table"
				hx-swap="innerHTML"
			></form>
		{{ end }}
		<div id="task-edit-form"></div>
		<div class="table-responsive">
			<table class="table">
				<thead>
					<tr>
						<th class="task-name">Task</th>
						<th>Attachments</th>
						<th>Expiration</th>
						<th>Created</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{{ if .IsCreatingNew }}
						{{ template "active_tasks_table_row_new" }}
					{{ end }}
					{{ range .Tasks }}
						{{ template "active_tasks_table_row" (dict "Task" . "UI" $.UI) }}
					{{ end }}
				</tbody>
			</table>
		</div>
	{{ else }}
		<div class="fw-bold text-muted">No tasks</div>
	{{ end }}
{{ end }}
