{{ define "active_tasks_table_row_edit" }}
	<tr class="editing" hx-trigger="cancelEdit" hx-get="/ui/tasks/{{ .ID }}" hx-swap="outerHTML">
		<td>{{ .ID }}</td>
		<td class="task-name">
			<textarea
				name="name"
				rows="5"
				form="task-edit-form"
				class="form-control form-control-sm"
				minlength="3"
				maxlength="200"
				required
				_="on input
					if me.value == 'test'
						me.setCustomValidity(`'${me.value}' is not allowed`)
					else
						me.setCustomValidity('')"
			>
{{ .Name }}</textarea
			>
		</td>
		<td>
			<input
				type="file"
				multiple
				name="attachments"
				form="task-edit-form"
				class="form-control form-control-sm"
				value=""
			/>
			<div>
				{{ range .Attachments }}
					<div class="badge text-bg-light d-flex align-items-center justify-content-between gap-3 mt-2">
						<input type="hidden" name="attachments" form="task-edit-form" value="{{ .FileName }}" />
						{{ .FileName }}
						<button class="btn-close" _="on click remove closest parent <div/>"></button>
					</div>
				{{ end }}
			</div>
		</td>
		<td>
			<input
				type="datetime-local"
				name="expires_at"
				form="task-edit-form"
				class="form-control form-control-sm"
				value="{{ with .ExpiresAt }}{{ RenderISOTime . }}{{ end }}"
			/>
		</td>
		<td>{{ RenderTime .CreatedAt }}</td>
		<td>
			<button
				type="button"
				class="btn btn-sm btn-outline-danger rounded-pill px-3"
				hx-get="/ui/tasks/{{ .ID }}"
				hx-target="closest tr"
				hx-swap="outerHTML"
			>
				Cancel
			</button>
			<button type="submit" form="task-edit-form" class="btn btn-sm btn-outline-primary rounded-pill px-3 ms-2">
				Save
			</button>
		</td>
	</tr>
	<form
		id="task-edit-form"
		enctype="multipart/form-data"
		autocomplete="off"
		hx-swap-oob="true"
		hx-put="/ui/tasks/{{ .ID }}"
		hx-target=".editing"
		hx-swap="outerHTML"
	></form>
{{ end }}
