{{ if or .Tasks .IsCreatingNew }}
	<div class="table-responsive">
		<table class="table">
			<thead>
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th>Expires At</th>
					<th>Created At</th>
					<th>Updated At</th>
					<th>Completed At</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{{ if .IsCreatingNew }}
					{{ template "active_tasks_table_row_new.html" }}
				{{ end }}
				{{ range .Tasks }}
					{{ template "active_tasks_table_row.html" . }}
				{{ end }}
			</tbody>
		</table>
	</div>
{{ else }}
	<div class="fw-bold text-muted">No tasks</div>
{{ end }}
