{{ define "completed_tasks_table_row" }}
	<tr>
		<td>{{ .ID }}</td>
		<td class="text-break task-name" data-bs-toggle="tooltip" data-bs-title="{{ .Name }}">
			<span class="app-text-multiline">{{ .Name }}</span>
		</td>
		<td>
			{{ $parent := . }}
			{{ range .Attachments }}
				<a href="/ui/tasks/{{ $parent.ID }}/attachments/{{ .FileName }}" download class="d-block">{{ .FileName }}</a>
			{{ end }}
		</td>
		<td>{{ with .ExpiresAt }}{{ RenderTime . }}{{ else }}{{ end }}</td>
		<td>{{ RenderTime .CreatedAt }}</td>
		<td>{{ with .CompletedAt }}{{ RenderTime . }}{{ else }}{{ end }}</td>
	</tr>
{{ end }}
