<!doctype html>
<html lang="{{ .UI.Language }}">
	{{ template "html_head.html" . }}
	<body class="p-3" data-bs-theme="{{ .UI.Theme }}">
		<main class="container slide-transition">
			{{ template "navbar.html" . }}
			<div class="row g-2 mt-3">
				<div class="col-6 col-md-auto">
					<button
						hx-get="/ui/completed/tasks"
						hx-target="#tasks-table"
						hx-indicator=".loading-indicator"
						class="btn btn-outline-primary rounded-pill px-4 w-100"
						_="on click toggle @disabled until htmx:afterOnLoad"
					>
						{{ template "icon-arrow-clockwise" }}
						{{ .UI.T.refresh }}
						<span class="spinner-grow spinner-grow-sm ms-2 loading-indicator" aria-hidden="true"></span>
					</button>
				</div>

				<div class="col-6 col-md-auto">
					<a href="/ui/tasks/export?filter=completed" download class="btn btn-outline-primary rounded-pill px-4 w-100">
						{{ template "icon-download" }}
						{{ .UI.T.export }}
					</a>
				</div>
			</div>

			<div id="tasks-table" class="mt-3">
				{{ template "completed_tasks_table.html" . }}
			</div>
		</main>
		{{ template "toaster.html" }}
	</body>
</html>
