{{ define "completed_tasks" }}
	<!doctype html>
	<html>
		{{ template "html_head" }}
		<body class="p-3" data-bs-theme="{{ .ColorMode }}">
			<main class="container slide-transition">
				<h1>Completed Tasks</h1>
				{{ template "color_mode" . }}
				<div class="row g-2 mt-3">
					<div class="col-6 col-md-auto">
						<a
							href="/ui"
							hx-boost="true"
							hx-swap="innerHTML transition:true"
							class="btn btn-outline-primary rounded-pill px-4 w-100"
							>Home</a
						>
					</div>

					<div class="col-6 col-md-auto">
						<a href="/ui/tasks/export?filter=completed" download class="btn btn-outline-primary rounded-pill px-4 w-100"
							>Export Tasks</a
						>
					</div>

					<div class="col-6 col-md-auto">
						<a href="/ui/auth/logout" class="btn btn-outline-primary rounded-pill px-4 w-100">Sign Out</a>
					</div>
				</div>

				<div id="tasks-table" class="mt-3">
					{{ template "completed_tasks_table" . }}
				</div>
			</main>
			{{ template "toaster" }}
		</body>
	</html>
{{ end }}
