{
	email {$CADDY_TLS_EMAIL}

	log {
		level INFO
		format json {
			time_format "rfc3339_nano"
		}
	}
}

*.hobbydemos.com {
	log

	tls {
		dns godaddy {$CADDY_TLS_GODADDY_TOKEN}
	}

	header {
		-Server
	}

	@auth {
		host auth.hobbydemos.com
	}
	handle @auth {
		reverse_proxy h2c://zitadel:8080
	}

	@smtp {
		host smtp.hobbydemos.com
	}
	handle @smtp {
		basic_auth {
			admin $2a$14$5rwhDuyblPBQiK/ebhjLYeTOLWScma0LjEe7t.Oa4nzaF00DhKlWy
		}
		reverse_proxy http://smtp4dev
	}

	@nats_ws {
		host www.hobbydemos.com
		path /hub/*
	}
	handle @nats_ws {
		reverse_proxy http://nats-1:9222 http://nats-2:9222 http://nats-3:9222
	}

	@app {
		host www.hobbydemos.com
	}
	handle @app {
		redir / /ui
		encode zstd gzip {
			match {
				header Content-Type text/*
				header Content-Type application/javascript*
			}
		}
		reverse_proxy http://tasks-app
	}
}
