th,
td {
	white-space: nowrap;

	&.task-name {
		min-width: 15rem;
		max-width: 30rem;
	}
}

input,
textarea,
select {
	&:user-invalid {
		border-color: var(--bs-form-invalid-border-color);

		&:focus {
			border-color: var(--bs-form-invalid-border-color);
			box-shadow: 0 0 0 0.25rem rgba(var(--bs-danger-rgb), 0.25);
		}
	}
}

.toast {
	--bs-toast-spacing: 1rem;
	--bs-toast-max-width: 500px;
}

.loading-indicator {
	display: none;
}

.htmx-request.loading-indicator {
	display: inline-block;
}

tr.htmx-swapping td {
	opacity: 0;
	transition: opacity 0.2s ease-out;
}

.app-tooltip {
	--bs-tooltip-max-width: 400px;
	--bs-tooltip-bg: var(--bs-primary);
	--bs-tooltip-color: var(--bs-white);

	.tooltip-inner {
		text-align: inherit;
		white-space: break-spaces;
	}
}

.app-text-multiline {
	white-space: break-spaces;
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
}

@keyframes fade-out {
	to {
		opacity: 0;
	}
}

@keyframes slide-to-left {
	to {
		transform: translateX(-90px);
	}
}

@keyframes slide-from-right {
	from {
		transform: translateX(90px);
	}
}

.slide-transition {
	view-transition-name: slide-transition;
}

::view-transition-old(slide-transition) {
	animation:
		180ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
		600ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
}
::view-transition-new(slide-transition) {
	animation:
		420ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
		600ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
}
