th,
td {
	white-space: nowrap;

	&.task-name {
		min-width: 15rem;
		max-width: 30rem;
	}
}

input,
textarea,
select {
	&:user-invalid {
		border-color: var(--bs-form-invalid-border-color);

		&:focus {
			border-color: var(--bs-form-invalid-border-color);
			box-shadow: 0 0 0 0.25rem rgba(var(--bs-danger-rgb), 0.25);
		}
	}
}

/* https://github.com/twbs/icons/issues/913 */
svg.bi {
	vertical-align: -0.125em;
}

.toast {
	--bs-toast-spacing: 1rem;
	--bs-toast-max-width: 500px;
}

.loading-indicator {
	display: none;
}

.htmx-request.loading-indicator {
	display: inline-block;
}

.app-tooltip {
	--bs-tooltip-max-width: 400px;
	--bs-tooltip-bg: var(--bs-primary);
	--bs-tooltip-color: var(--bs-white);

	.tooltip-inner {
		text-align: inherit;
		white-space: break-spaces;
	}
}

.app-text-multiline {
	white-space: break-spaces;
}
