{
	log {
		level INFO
		format console
	}

	pki {
		ca {
			root {
				cert ../deploy/dev/certs/root.crt
				key ../deploy/dev/certs/root.key
			}
		}
	}
}

*.tasks-app.com {
	log

	encode gzip

	tls internal

	header {
		-Server
		>Location http:// https://
	}

	@auth {
		host auth.tasks-app.com
	}
	handle @auth {
		reverse_proxy h2c://localhost:8080
	}

	@smtp {
		host smtp.tasks-app.com
	}
	handle @smtp {
		reverse_proxy http://localhost:8081
	}

	@nats_ws {
		host www.tasks-app.com
		path /hub/*
	}
	handle @nats_ws {
		reverse_proxy http://localhost:9222
	}

	@app {
		host www.tasks-app.com
	}
	handle @app {
		redir / /ui
		reverse_proxy http://localhost:3000
	}
}
