{
	log {
		level {$CADDY_LOG_LEVEL}
		format console
		# format json {
		# 	time_format "rfc3339_nano"
		# }
	}
}

{$CADDY_SITE_ADDRESS} {
	log
	encode gzip
	tls {$CADDY_TLS}

	header -Server

	redir / /ui

	@auth {
		host auth.{$CADDY_DOMAIN}
	}
	handle @auth {
		reverse_proxy {$CADDY_ZITADEL_ADDRESS}
	}

	@nats_ws {
		host www.{$CADDY_DOMAIN}
		path /hub/*
	}
	handle @nats_ws {
		reverse_proxy {$CADDY_NATS_WS_ADDRESS}
	}

	@app {
		host www.{$CADDY_DOMAIN}
		path /ui*
	}
	handle @app {
		reverse_proxy {$CADDY_APP_ADDRESS}
	}
}
